<html>

<head>
    <style>
        p {
            color: white;
            font-size: 20px;
        }

        #a {
            color: black;
            font-size: 40px;
        }
    </style>

</head>
<
    <center>
        <h3>
            <b>
                A quiz is a form of game or mind sport, in which the players (as individuals or in teams) attempt to answer questions correctly. In some countries, a quiz is also a brief assessment used in education and similar fields to measure growth in knowledge, abilities, and/or skills.

                Quizzes are usually scored in points and many quizzes are designed to determine a winner from a group of participants – usually the participant with the highest score.
                    </i>
                </p>
            </b>
        </h3>
    </center>
</body>
</html>